# Olympics Overall Medal Count
---
---
---

# ALL IMPORTS

In [17]:
# Import Pandas for dataframe functions
import pandas as pd

# Import Path from Pathlib to read csv's
from pathlib import Path

# The hvPlot library is a visualization library that’s designed to work with Pandas DataFrames
# use it to create interactive plots for our data
import hvplot.pandas

# Read in csv of Winter Olympics Medal Data

In [3]:
all_winter_medals_df=pd.read_csv(Path('Resources/all_winter_medals_locations.csv'), index_col='Year')

all_winter_medals_df

,Sport,Event,Country,Medal Rank,Lat,Lon
Year,,,,,,
1924,Figure Skating,Men's Singles,Austria,2,48.200000,16.366667
1924,Figure Skating,Mixed Pairs,Austria,1,48.200000,16.366667
1924,Figure Skating,Women's Singles,Austria,1,48.200000,16.366667
1924,Bobsled,Men's Four/Five,Belgium,3,50.833333,4.333333
1924,Ice Hockey,Men's Ice Hockey,Canada,1,45.416667,-75.700000
...,...,...,...,...,...,...
2018,Snowboarding,Women's Halfpipe,United States,1,38.907200,77.036900
2018,Snowboarding,Women's Halfpipe,United States,3,38.907200,77.036900
2018,Snowboarding,Men's Big Air,United States,2,38.907200,77.036900
2018,Snowboarding,Women's Big Air,United States,2,38.907200,77.036900
2018,Speedskating,Women's Team Pursuit,United States,3,38.907200,77.036900

# Add additional columns (pct_change?) for medal counter: Sum Gold, Sum Silver, Sum Bronze, Sum Total

### Add a column for sum of gold medals as years progress

### Add a column for sum of silver medals

### Add a column for sum of bronze medals

### Add a column for sum of total medals

---
---

# Use Geoviews to chart a map of medals by country
###  Group by country and calculate mean of medal ranking

In [4]:
mean_medal_rank_by_country = all_winter_medals_df.groupby('Country').mean()

mean_medal_rank_by_country

                Medal Rank        Lat         Lon
Country
Australia         2.000000 -35.266667  149.133333
Austria           2.099567  48.200000   16.366667
Belarus           1.842105  53.900000   27.566667
Belgium           2.400000  50.833333    4.333333
Bulgaria          2.333333  42.683333   23.316667
Canada            1.939698  45.416667  -75.700000
China             2.129032  39.916667  116.383333
Croatia           1.727273  45.800000   16.000000
Czech Republic    2.064516  50.083333   14.466667
Czechoslovakia    2.520000  50.083333   14.466667
Denmark           2.000000  55.666667   12.583333
Estonia           1.571429  59.433333   24.716667
Finland           2.107784  60.166667   24.933333
France            2.137097  48.866667    2.333333
Germany           1.891599  52.516667   13.400000
Great Britain     2.161290  51.500000   -0.083333
Hungary           2.428571  47.500000   19.083333
Italy             2.064516  41.900000   12.483333
Japan             2.137931  35.683333  139.750000
Kazakhstan        2.375000  51.166667   71.416667
Latvia            2.500000  56.950000   24.100000
Liechtenstein     2.400000  47.133333    9.516667
Luxembourg        2.000000  49.600000    6.116667
Netherlands       1.969231  52.350000    4.916667
New Zealand       2.666667 -41.300000  174.783333
North Korea       2.500000  39.016667  125.750000
Norway            1.940054  59.916667   10.750000
Poland            2.045455  52.250000   21.000000
Romania           3.000000  44.433333   26.100000
Russia            1.964539  55.750000   37.600000
Slovakia          1.750000  48.150000   17.116667
Slovenia          2.470588  46.050000   14.516667
South Korea       1.757143  37.550000  126.983333
Soviet Union      1.902062  55.750000   37.600000
Spain             2.500000  40.400000   -3.683333
Sweden            1.987342  59.333333   18.050000
Switzerland       1.980263  46.916667    7.466667
Ukraine           2.125000  50.433333   30.516667
Unified Team      1.956522  53.900000   27.566667
United States     1.950820  38.907200   77.036900
Uzbekistan        1.000000  41.316667   69.250000
West Germany      2.051282  50.737400    7.098200
Yugoslavia        2.250000  43.850000   18.250000

### Group by Country and Calculate total medals in 2018

In [20]:
total_medals_by_country = all_winter_medals_df.groupby('Country')['Event'].count()

total_medals_by_country

Country
Australia          15
Austria           231
Belarus            19
Belgium             5
Bulgaria            6
Canada            199
China              62
Croatia            11
Czech Republic     31
Czechoslovakia     25
Denmark             1
Estonia             7
Finland           167
France            124
Germany           369
Great Britain      31
Hungary             7
Italy             124
Japan              58
Kazakhstan          8
Latvia              8
Liechtenstein      10
Luxembourg          2
Netherlands       130
New Zealand         3
North Korea         2
Norway            367
Poland             22
Romania             1
Russia            141
Slovakia            8
Slovenia           17
South Korea        70
Soviet Union      194
Spain               4
Sweden            158
Switzerland       152
Ukraine             8
Unified Team       23
United States     305
Uzbekistan          1
West Germany       39
Yugoslavia          4
Name: Event, dtype: int64

### Concatenate two DataFrames

In [6]:
# Using pandas.concat() to concat two DataFrame
geoviews_df = pd.concat([mean_medal_rank_by_country, total_medals_by_country], axis=1, join='inner')

geoviews_df

                Medal Rank        Lat         Lon  Event
Country
Australia         2.000000 -35.266667  149.133333     15
Austria           2.099567  48.200000   16.366667    231
Belarus           1.842105  53.900000   27.566667     19
Belgium           2.400000  50.833333    4.333333      5
Bulgaria          2.333333  42.683333   23.316667      6
Canada            1.939698  45.416667  -75.700000    199
China             2.129032  39.916667  116.383333     62
Croatia           1.727273  45.800000   16.000000     11
Czech Republic    2.064516  50.083333   14.466667     31
Czechoslovakia    2.520000  50.083333   14.466667     25
Denmark           2.000000  55.666667   12.583333      1
Estonia           1.571429  59.433333   24.716667      7
Finland           2.107784  60.166667   24.933333    167
France            2.137097  48.866667    2.333333    124
Germany           1.891599  52.516667   13.400000    369
Great Britain     2.161290  51.500000   -0.083333     31
Hungary           2.428571  47.500000   19.083333      7
Italy             2.064516  41.900000   12.483333    124
Japan             2.137931  35.683333  139.750000     58
Kazakhstan        2.375000  51.166667   71.416667      8
Latvia            2.500000  56.950000   24.100000      8
Liechtenstein     2.400000  47.133333    9.516667     10
Luxembourg        2.000000  49.600000    6.116667      2
Netherlands       1.969231  52.350000    4.916667    130
New Zealand       2.666667 -41.300000  174.783333      3
North Korea       2.500000  39.016667  125.750000      2
Norway            1.940054  59.916667   10.750000    367
Poland            2.045455  52.250000   21.000000     22
Romania           3.000000  44.433333   26.100000      1
Russia            1.964539  55.750000   37.600000    141
Slovakia          1.750000  48.150000   17.116667      8
Slovenia          2.470588  46.050000   14.516667     17
South Korea       1.757143  37.550000  126.983333     70
Soviet Union      1.902062  55.750000   37.600000    194
Spain             2.500000  40.400000   -3.683333      4
Sweden            1.987342  59.333333   18.050000    158
Switzerland       1.980263  46.916667    7.466667    152
Ukraine           2.125000  50.433333   30.516667      8
Unified Team      1.956522  53.900000   27.566667     23
United States     1.950820  38.907200   77.036900    305
Uzbekistan        1.000000  41.316667   69.250000      1
West Germany      2.051282  50.737400    7.098200     39
Yugoslavia        2.250000  43.850000   18.250000      4

### Rename the 'Medal Rank' column to 'Mean Medal Rank' and 'Event' column to 'Total Medals'

In [8]:
geoviews_df.rename(columns = {'Medal Rank':'Mean Medal Rank', 'Event':'Total Medals'}, inplace=True)

geoviews_df

                Mean Medal Rank        Lat         Lon  Total Medals
Country
Australia              2.000000 -35.266667  149.133333            15
Austria                2.099567  48.200000   16.366667           231
Belarus                1.842105  53.900000   27.566667            19
Belgium                2.400000  50.833333    4.333333             5
Bulgaria               2.333333  42.683333   23.316667             6
Canada                 1.939698  45.416667  -75.700000           199
China                  2.129032  39.916667  116.383333            62
Croatia                1.727273  45.800000   16.000000            11
Czech Republic         2.064516  50.083333   14.466667            31
Czechoslovakia         2.520000  50.083333   14.466667            25
Denmark                2.000000  55.666667   12.583333             1
Estonia                1.571429  59.433333   24.716667             7
Finland                2.107784  60.166667   24.933333           167
France                 2.137097  48.866667    2.333333           124
Germany                1.891599  52.516667   13.400000           369
Great Britain          2.161290  51.500000   -0.083333            31
Hungary                2.428571  47.500000   19.083333             7
Italy                  2.064516  41.900000   12.483333           124
Japan                  2.137931  35.683333  139.750000            58
Kazakhstan             2.375000  51.166667   71.416667             8
Latvia                 2.500000  56.950000   24.100000             8
Liechtenstein          2.400000  47.133333    9.516667            10
Luxembourg             2.000000  49.600000    6.116667             2
Netherlands            1.969231  52.350000    4.916667           130
New Zealand            2.666667 -41.300000  174.783333             3
North Korea            2.500000  39.016667  125.750000             2
Norway                 1.940054  59.916667   10.750000           367
Poland                 2.045455  52.250000   21.000000            22
Romania                3.000000  44.433333   26.100000             1
Russia                 1.964539  55.750000   37.600000           141
Slovakia               1.750000  48.150000   17.116667             8
Slovenia               2.470588  46.050000   14.516667            17
South Korea            1.757143  37.550000  126.983333            70
Soviet Union           1.902062  55.750000   37.600000           194
Spain                  2.500000  40.400000   -3.683333             4
Sweden                 1.987342  59.333333   18.050000           158
Switzerland            1.980263  46.916667    7.466667           152
Ukraine                2.125000  50.433333   30.516667             8
Unified Team           1.956522  53.900000   27.566667            23
United States          1.950820  38.907200   77.036900           305
Uzbekistan             1.000000  41.316667   69.250000             1
West Germany           2.051282  50.737400    7.098200            39
Yugoslavia             2.250000  43.850000   18.250000             4

### Use Geoviews to chart a map of the data

In [18]:
geoviews_df.hvplot.points(
    'Lon',
    'Lat',
    geo=True,
    size='Total Medals',
    color='Mean Medal Rank',
    tiles='OSM',
    frame_width=700,
    frame_height=500,
    title='World Map of Olympic Medals by Country - 2018')

ImportError: Geographic projection support requires GeoViews and cartopy.

# Create an interactive plot of medal trendlines by country

In [106]:
total_medals_by_country.columns = total_medals_by_country.str.replace('Event' , 'Total Medals')
total_medals_by_country

AttributeError: Can only use .str accessor with string values!

### Create a total medal count DataFrame

In [90]:
# Group the csv by country and count total medals in 2018
medal_count_by_country = all_winter_medals_df.groupby('Country').mean()

# Clean the DataFrame
#total_medal_count = medal_count_by_country['Medal Rank']

# Display the resulting DataFame
medal_count_by_country
#total_medal_count

                Medal Rank        Lat         Lon
Country
Australia         2.000000 -35.266667  149.133333
Austria           2.099567  48.200000   16.366667
Belarus           1.842105  53.900000   27.566667
Belgium           2.400000  50.833333    4.333333
Bulgaria          2.333333  42.683333   23.316667
Canada            1.939698  45.416667  -75.700000
China             2.129032  39.916667  116.383333
Croatia           1.727273  45.800000   16.000000
Czech Republic    2.064516  50.083333   14.466667
Czechoslovakia    2.520000  50.083333   14.466667
Denmark           2.000000  55.666667   12.583333
Estonia           1.571429  59.433333   24.716667
Finland           2.107784  60.166667   24.933333
France            2.137097  48.866667    2.333333
Germany           1.891599  52.516667   13.400000
Great Britain     2.161290  51.500000   -0.083333
Hungary           2.428571  47.500000   19.083333
Italy             2.064516  41.900000   12.483333
Japan             2.137931  35.683333  139.750000
Kazakhstan        2.375000  51.166667   71.416667
Latvia            2.500000  56.950000   24.100000
Liechtenstein     2.400000  47.133333    9.516667
Luxembourg        2.000000  49.600000    6.116667
Netherlands       1.969231  52.350000    4.916667
New Zealand       2.666667 -41.300000  174.783333
North Korea       2.500000  39.016667  125.750000
Norway            1.940054  59.916667   10.750000
Poland            2.045455  52.250000   21.000000
Romania           3.000000  44.433333   26.100000
Russia            1.964539  55.750000   37.600000
Slovakia          1.750000  48.150000   17.116667
Slovenia          2.470588  46.050000   14.516667
South Korea       1.757143  37.550000  126.983333
Soviet Union      1.902062  55.750000   37.600000
Spain             2.500000  40.400000   -3.683333
Sweden            1.987342  59.333333   18.050000
Switzerland       1.980263  46.916667    7.466667
Ukraine           2.125000  50.433333   30.516667
Unified Team      1.956522  53.900000   27.566667
United States     1.950820  38.907200   77.036900
Uzbekistan        1.000000  41.316667   69.250000
West Germany      2.051282  50.737400    7.098200
Yugoslavia        2.250000  43.850000   18.250000

### Create a gold medal count DataFrame

In [84]:
all_winter_medals_df.groupby('Country').count('Medal Rank' = 1)

SyntaxError: keyword can't be an expression (Temp/ipykernel_16956/1613923831.py, line 1)

In [73]:
gold = []
for country in 'Country':
    if 'Medal Rank' = 1

Sport          object
Event          object
Country        object
Medal Rank      int64
Lat           float64
Lon           float64
dtype: object

### Create a Geoviews of the Medal Data

In [ ]:
all_winter_medals_df.hvplot.points(
    'Lon',
    'Lat',
    geo=True,
    size='Medal Rank',
    color='gross_rent',
    tiles='OSM',
    frame_width=700,
    frame_height=500,
    title='Neighborhood Map Comparing Sale Prices Per Sqft and Gross Rent - San Francisco 2010-2016')

In [67]:
# Group the csv by country and count total medals in 2018
medal_count_by_country = all_winter_medals_df.count(axis= 'Medal Rank')
medal_count_by_country

ValueError: No axis named Medal Rank for object type DataFrame

In [37]:
#for medal in 'Medal Rank'
   # if ['Medal Rank'] = 1
   # print('hello')

#gold_count_by_country = all_winter_medals_df.groupby('Medal Rank').sum()


total_medals_df = pd.DataFrame({
    'Country': all_winter_medals_df['Country'].drop_duplicates()
   # 'Gold': all_winter_medals_df.count(['Medal Rank' = 1])
    #'Silver': all_winter_medals_df['Medal Rank' = 2]
    #'Bronze': all_winter_medals_df['Medal Rankk' =3]
        
        })
    
total_medals_df

             Country
Year
1924         Austria
1924         Belgium
1924          Canada
1924         Finland
1924          France
1924   Great Britain
1924          Norway
1924          Sweden
1924     Switzerland
1924   United States
1928  Czechoslovakia
1928         Germany
1932         Hungary
1948           Italy
1952     Netherlands
1956           Japan
1956          Poland
1956    Soviet Union
1964     North Korea
1968         Romania
1968    West Germany
1972           Spain
1976   Liechtenstein
1980        Bulgaria
1984      Yugoslavia
1992           China
1992      Luxembourg
1992     New Zealand
1992     South Korea
1992    Unified Team
1994       Australia
1994         Belarus
1994      Kazakhstan
1994          Russia
1994        Slovenia
1994         Ukraine
1994      Uzbekistan
1998  Czech Republic
1998         Denmark
2002         Croatia
2002         Estonia
2006          Latvia
2006        Slovakia

In [41]:
gold_count_by_country = all_winter_medals_df[[
    'Country', 
    for gold in 'Medal Rank'
        if 'Medal Rank' = 1
    return len
gold_count_by_country

                     Lat           Lon
Medal Rank
1           53317.150735  24567.921383
2           52795.569668  27535.682010
3           52224.134201  24458.914285

### Count Total Medals by Country

In [53]:
first_info = {'Name_1': ['Span', 'Vetts', 'Such', 'Deepthi', 'Appu'],
'Name_2': ['Rao', 'Segar', 'Athreya', 'Vc', 'Nags'],
'Marks': [35, 45, 38, 92, 15] }



df = pd.DataFrame(first_info, columns = ['Name_1', 'Name_2', 'Marks'])

final = [] 

for value in df["Marks"]:
    
    if value >= 50:
        final.append("Pass")
    elif value < 0 and value > 100:
    final.append("Invalid")
    else:
    final.append("Fail")
    
df["Final"] = final
print(df)

IndentationError: expected an indented block (Temp/ipykernel_16956/969413436.py, line 16)

In [74]:
gold = []
not_gold = []

for gold in all_winter_medals_df['Medal Rank']:
    if gold = 1:
        gold.append()
    #else:
       # gold.append('Total Not Gold Medals')

#all_winter_medals_df["Total Gold"] = gold
#print(all_winter_medals_df)

SyntaxError: invalid syntax (Temp/ipykernel_16956/149571907.py, line 5)