In [18]:
#imports

import pandas as pd
import hvplot
from pathlib import Path
import hvplot.pandas
import numpy as np
import cartopy.feature
import cartopy.crs as ccrs
from fbprophet import Prophet
import requests
from bs4 import BeautifulSoup

Our predictions vs. Oddsmakers

In [19]:
#Our predicted Beijing Total Medal Count
beijing_total_medal_count_forecast_df = pd.read_csv(Path('Resources/beijing_total_medal_count_forecast.csv'))
forcast_df = beijing_total_medal_count_forecast_df
forcast_df

           Country       Gold     Silver     Bronze      Total
0          Germany  13.304938  12.423865   8.468517  34.200475
1    United States   8.737703   8.930442   8.167370  25.873304
2           Norway   9.542529   8.494180   7.470627  25.586041
3           Canada   8.636452   7.711165   6.090819  22.464903
4              ROC   3.723646   7.287529  11.142462  22.269231
5          Austria   4.930853   5.561746   7.326002  17.864528
6      South Korea   5.162205   7.557807   3.423116  16.131148
7      Netherlands   5.998734   4.097720   5.313305  15.422468
8      Switzerland   4.610455   3.585948   3.956117  12.068417
9            Italy   3.282677   3.278728   5.432943  11.994356
10           China   3.589605   5.125918   3.015091  11.713593
11          France   3.163731   3.410608   5.005077  11.597660
12          Sweden   3.731149   2.988819   3.482374  10.207656
13  Czech Republic   2.399314   2.738475   3.732691   8.865044
14           Japan   1.836548   3.162340   3.203621   8.234856
15         Finland   1.262163   2.639527   3.612027   7.463294
16         Belarus   3.563921   1.000031   0.437853   4.995266
17        Slovenia   0.890630   2.080026   1.717190   4.668437
18          Poland   2.359419   0.868777   0.870222   4.137874
19          Poland   2.359419   0.868777   0.870222   4.137874
20       Australia   0.714323   2.281942   0.716344   3.713408
21        Slovakia   1.497426   1.496395   0.002828   2.994110
22          Latvia   0.000000   1.000554   1.496396   2.487352
23   Great Britain   0.757865   0.141724   1.090423   2.005261
24           Spain  -0.200000   0.000000   2.200000   2.000000
25   Liechtenstein  -0.161262  -0.161268   0.884426   0.544486
26      Kazakhstan  -0.251817  -0.197814   0.831817   0.382161
27         Croatia  -2.493030   1.500817   0.596012  -0.398393

In [20]:
medal_total = 327
forcast_df['Fractional'] = forcast_df.apply(lambda row: medal_total - row.Total, axis = 1)
forcast_df

           Country       Gold     Silver     Bronze      Total  Fractional
0          Germany  13.304938  12.423865   8.468517  34.200475  292.799525
1    United States   8.737703   8.930442   8.167370  25.873304  301.126696
2           Norway   9.542529   8.494180   7.470627  25.586041  301.413959
3           Canada   8.636452   7.711165   6.090819  22.464903  304.535097
4              ROC   3.723646   7.287529  11.142462  22.269231  304.730769
5          Austria   4.930853   5.561746   7.326002  17.864528  309.135472
6      South Korea   5.162205   7.557807   3.423116  16.131148  310.868852
7      Netherlands   5.998734   4.097720   5.313305  15.422468  311.577532
8      Switzerland   4.610455   3.585948   3.956117  12.068417  314.931583
9            Italy   3.282677   3.278728   5.432943  11.994356  315.005644
10           China   3.589605   5.125918   3.015091  11.713593  315.286407
11          France   3.163731   3.410608   5.005077  11.597660  315.402340
12          Sweden   3.731149   2.988819   3.482374  10.207656  316.792344
13  Czech Republic   2.399314   2.738475   3.732691   8.865044  318.134956
14           Japan   1.836548   3.162340   3.203621   8.234856  318.765144
15         Finland   1.262163   2.639527   3.612027   7.463294  319.536706
16         Belarus   3.563921   1.000031   0.437853   4.995266  322.004734
17        Slovenia   0.890630   2.080026   1.717190   4.668437  322.331563
18          Poland   2.359419   0.868777   0.870222   4.137874  322.862126
19          Poland   2.359419   0.868777   0.870222   4.137874  322.862126
20       Australia   0.714323   2.281942   0.716344   3.713408  323.286592
21        Slovakia   1.497426   1.496395   0.002828   2.994110  324.005890
22          Latvia   0.000000   1.000554   1.496396   2.487352  324.512648
23   Great Britain   0.757865   0.141724   1.090423   2.005261  324.994739
24           Spain  -0.200000   0.000000   2.200000   2.000000  325.000000
25   Liechtenstein  -0.161262  -0.161268   0.884426   0.544486  326.455514
26      Kazakhstan  -0.251817  -0.197814   0.831817   0.382161  326.617839
27         Croatia  -2.493030   1.500817   0.596012  -0.398393  327.398393

In [21]:
forcast_df['Decimal'] = forcast_df.apply(lambda row: (row.Total/row.Fractional) + 1, axis = 1)
forcast_df

,Country,Gold,Silver,Bronze,Total,Fractional,Decimal
0,Germany,13.304938,12.423865,8.468517,34.200475,292.799525,1.116805
1,United States,8.737703,8.930442,8.167370,25.873304,301.126696,1.085922
2,Norway,9.542529,8.494180,7.470627,25.586041,301.413959,1.084887
3,Canada,8.636452,7.711165,6.090819,22.464903,304.535097,1.073768
4,ROC,3.723646,7.287529,11.142462,22.269231,304.730769,1.073078
5,Austria,4.930853,5.561746,7.326002,17.864528,309.135472,1.057789
6,South Korea,5.162205,7.557807,3.423116,16.131148,310.868852,1.051891
7,Netherlands,5.998734,4.097720,5.313305,15.422468,311.577532,1.049498
8,Switzerland,4.610455,3.585948,3.956117,12.068417,314.931583,1.038321
9,Italy,3.282677,3.278728,5.432943,11.994356,315.005644,1.038077
10,China,3.589605,5.125918,3.015091,11.713593,315.286407,1.037152
11,France,3.163731,3.410608,5.005077,11.597660,315.402340,1.036771
12,Sweden,3.731149,2.988819,3.482374,10.207656,316.792344,1.032222
13,Czech Republic,2.399314,2.738475,3.732691,8.865044,318.134956,1.027866
14,Japan,1.836548,3.162340,3.203621,8.234856,318.765144,1.025834
15,Finland,1.262163,2.639527,3.612027,7.463294,319.536706,1.023357
16,Belarus,3.563921,1.000031,0.437853,4.995266,322.004734,1.015513
17,Slovenia,0.890630,2.080026,1.717190,4.668437,322.331563,1.014483
18,Poland,2.359419,0.868777,0.870222,4.137874,322.862126,1.012816
19,Poland,2.359419,0.868777,0.870222,4.137874,322.862126,1.012816
20,Australia,0.714323,2.281942,0.716344,3.713408,323.286592,1.011486
21,Slovakia,1.497426,1.496395,0.002828,2.994110,324.005890,1.009241
22,Latvia,0.000000,1.000554,1.496396,2.487352,324.512648,1.007665
23,Great Britain,0.757865,0.141724,1.090423,2.005261,324.994739,1.006170
24,Spain,-0.200000,0.000000,2.200000,2.000000,325.000000,1.006154
25,Liechtenstein,-0.161262,-0.161268,0.884426,0.544486,326.455514,1.001668
26,Kazakhstan,-0.251817,-0.197814,0.831817,0.382161,326.617839,1.001170
27,Croatia,-2.493030,1.500817,0.596012,-0.398393,327.398393,0.998783

In [22]:
# need help here with the if statement

forcast_df['American'] = forcast_df.apply(lambda row: -100/(row.Decimal - 1), axis = 1)    
forcast_df

,Country,Gold,Silver,Bronze,Total,Fractional,Decimal,American
0,Germany,13.304938,12.423865,8.468517,34.200475,292.799525,1.116805,-856.127071
1,United States,8.737703,8.930442,8.167370,25.873304,301.126696,1.085922,-1163.850956
2,Norway,9.542529,8.494180,7.470627,25.586041,301.413959,1.084887,-1178.040632
3,Canada,8.636452,7.711165,6.090819,22.464903,304.535097,1.073768,-1355.603881
4,ROC,3.723646,7.287529,11.142462,22.269231,304.730769,1.073078,-1368.393767
5,Austria,4.930853,5.561746,7.326002,17.864528,309.135472,1.057789,-1730.442987
6,South Korea,5.162205,7.557807,3.423116,16.131148,310.868852,1.051891,-1927.134089
7,Netherlands,5.998734,4.097720,5.313305,15.422468,311.577532,1.049498,-2020.283213
8,Switzerland,4.610455,3.585948,3.956117,12.068417,314.931583,1.038321,-2609.551717
9,Italy,3.282677,3.278728,5.432943,11.994356,315.005644,1.038077,-2626.282261
10,China,3.589605,5.125918,3.015091,11.713593,315.286407,1.037152,-2691.628495
11,France,3.163731,3.410608,5.005077,11.597660,315.402340,1.036771,-2719.534285
12,Sweden,3.731149,2.988819,3.482374,10.207656,316.792344,1.032222,-3103.477860
13,Czech Republic,2.399314,2.738475,3.732691,8.865044,318.134956,1.027866,-3588.644975
14,Japan,1.836548,3.162340,3.203621,8.234856,318.765144,1.025834,-3870.925539
15,Finland,1.262163,2.639527,3.612027,7.463294,319.536706,1.023357,-4281.443368
16,Belarus,3.563921,1.000031,0.437853,4.995266,322.004734,1.015513,-6446.197940
17,Slovenia,0.890630,2.080026,1.717190,4.668437,322.331563,1.014483,-6904.485655
18,Poland,2.359419,0.868777,0.870222,4.137874,322.862126,1.012816,-7802.608924
19,Poland,2.359419,0.868777,0.870222,4.137874,322.862126,1.012816,-7802.608924
20,Australia,0.714323,2.281942,0.716344,3.713408,323.286592,1.011486,-8705.927062
21,Slovakia,1.497426,1.496395,0.002828,2.994110,324.005890,1.009241,-10821.442432
22,Latvia,0.000000,1.000554,1.496396,2.487352,324.512648,1.007665,-13046.510828
23,Great Britain,0.757865,0.141724,1.090423,2.005261,324.994739,1.006170,-16207.104163
24,Spain,-0.200000,0.000000,2.200000,2.000000,325.000000,1.006154,-16250.000000
25,Liechtenstein,-0.161262,-0.161268,0.884426,0.544486,326.455514,1.001668,-59956.640575
26,Kazakhstan,-0.251817,-0.197814,0.831817,0.382161,326.617839,1.001170,-85466.031071
27,Croatia,-2.493030,1.500817,0.596012,-0.398393,327.398393,0.998783,82179.755417

In [23]:
# moneyline odds from oddsshark.com

medal_odds_2022 = pd.read_html('https://www.oddsshark.com/olympics/medal-odds/') 
display(medal_odds_2022[0])
odds_shark_df = medal_odds_2022[0]

                      Country    Odds
0                      Norway    -800
1   Russian Olympic Committee     900
2                     Germany    1000
3                      Canada    1400
4                         USA    1400
5                 Netherlands    8000
6                      Sweden   15000
7                     Austria   25000
8                       China   25000
9                      France   50000
10                      Japan   50000
11                      Italy   75000
12                    Finland  100000
13                     Poland  100000
14                South Korea  100000
15                Switzerland  100000
16                  Australia  500000
17             Czech Republic  500000

In [24]:
#odds_shark_df.hvplot.scatter(x='Country', y='Odds')

:Scatter   [Country]   (Odds)

In [25]:
odds_shark_forcast_df = odds_shark_df
odds_shark_forcast_df = odds_shark_forcast_df.rename(columns={'Odds': 'American'})
odds_shark_forcast_df

                      Country  American
0                      Norway      -800
1   Russian Olympic Committee       900
2                     Germany      1000
3                      Canada      1400
4                         USA      1400
5                 Netherlands      8000
6                      Sweden     15000
7                     Austria     25000
8                       China     25000
9                      France     50000
10                      Japan     50000
11                      Italy     75000
12                    Finland    100000
13                     Poland    100000
14                South Korea    100000
15                Switzerland    100000
16                  Australia    500000
17             Czech Republic    500000

In [26]:
odds_shark_forcast_df['Decimal'] = odds_shark_forcast_df.apply(lambda row: (row.American/100.0) + 1.0, axis = 1)
odds_shark_forcast_df

#if row.American >=0:
#row.American)/100.0) + 1.0,
#else:
#100.0/abs(row.American)) + 1.0,

                      Country  American  Decimal
0                      Norway      -800     -7.0
1   Russian Olympic Committee       900     10.0
2                     Germany      1000     11.0
3                      Canada      1400     15.0
4                         USA      1400     15.0
5                 Netherlands      8000     81.0
6                      Sweden     15000    151.0
7                     Austria     25000    251.0
8                       China     25000    251.0
9                      France     50000    501.0
10                      Japan     50000    501.0
11                      Italy     75000    751.0
12                    Finland    100000   1001.0
13                     Poland    100000   1001.0
14                South Korea    100000   1001.0
15                Switzerland    100000   1001.0
16                  Australia    500000   5001.0
17             Czech Republic    500000   5001.0

In [28]:
#    Subtract 1 from the decimal representation e.g. a decimal value of 3 = 3 - 1 = 2 which is commonly expressed as 2/1.
# Positive odds - The american odds dividend by 100 e.g. american odds of 300 = 300/100 = 3/1.
# Negative odds - Minus 100 divided by the american odds e.g. american odds of -300 = -100/-300 = 1/3.

odds_shark_forcast_df['Fractional'] = odds_shark_forcast_df.apply(lambda row: row.American/100, axis = 1)
odds_shark_forcast_df

                      Country  American  Decimal  Fractional
0                      Norway      -800     -7.0        -8.0
1   Russian Olympic Committee       900     10.0         9.0
2                     Germany      1000     11.0        10.0
3                      Canada      1400     15.0        14.0
4                         USA      1400     15.0        14.0
5                 Netherlands      8000     81.0        80.0
6                      Sweden     15000    151.0       150.0
7                     Austria     25000    251.0       250.0
8                       China     25000    251.0       250.0
9                      France     50000    501.0       500.0
10                      Japan     50000    501.0       500.0
11                      Italy     75000    751.0       750.0
12                    Finland    100000   1001.0      1000.0
13                     Poland    100000   1001.0      1000.0
14                South Korea    100000   1001.0      1000.0
15                Switzerland    100000   1001.0      1000.0
16                  Australia    500000   5001.0      5000.0
17             Czech Republic    500000   5001.0      5000.0

Scatter Plots 
    * Our predictions (Ours) vs. Oddshark predictions (Theirs) (total medal count)
    * Actual Medal Count vs. Ours vs. Theirs

Sports Betting Calculator
    * Moneyline (American)
    * Decimal (European)
    * Fractional (British)

Betting What-ifs - If I had bet $100 on $? Country total medals in 1/1/2022 I would have won $?